

img {
  max-width: 100%;
}




.center {
  
  text-align: center;
  justify-content: center;
  /*align-items: center;*/
}



/* hamburger navigation */

#hamburgerBtn {
  align-items: center;
  height: 90%;
}

nav button {
  
  margin: .2rem 2vw;
  background: transparent;
  border: none;
  font-size: 2rem;
  color: #555;
}

nav {
  background-color:#eee;
}

nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

nav ul li a {
  display: block;
  padding: .8rem 2vw;
  text-decoration: none;
  color: #333;
  border-top: 1px solid rgba(0,0,0,.5);
}

nav ul li.active a {
  background-color: rgba(0,0,0,0.5);
  color: #fff;
}

nav ul li a:hover {
  background-color: rgba(0,0,0,0.3);
}

nav ul {display: none;}
nav ul.open {display: block;}

#hamburgerBtn span:nth-child(1) {display: block;}
#hamburgerBtn span:nth-child(2) {display: none;}

#hamburgerBtn.open span:nth-child(1) {display: none;}
#hamburgerBtn.open span:nth-child(2) {display: block;}

/* hamburger navigation */



#aspect2 {
  display: none;
}

/* #hero-selector option[value="04031a"]:checked ~ #aspect2 {
  display: block;
} */
