@media (min-width: 60em) {

  #hero-select {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  #aspect2 {
    grid-row: 2;
    grid-column: 2;
  }

  #percentage-selector {
    grid-row: 3;
    grid-column: 1/3;
  }
  
  #submitBtn {
    grid-row: 4;
    grid-column: 1/3;
    width: 300px;
    margin: auto;
  }

}