/* Media Query for medium+ views */
@media only screen and (min-width: 32.5em) {

  /* body {
    background-color: red;
  } */

  /* hamburger */
  #smallNav {display: none;}

  nav ul#primaryNav {
    display: flex;
    justify-content: space-around;
  }

  nav ul li a {
    border: none;
  }
  /* end hamburger */

  /* #card-results ul {
    display: grid;
    grid-template-columns: 1fr 1fr;
  } */

  #card-results ul {
    display: flex;
    flex-wrap: wrap;
  }

  #card-results ul li {
    max-width: 99%;
  }
}